@use "../../scss/" as *;

.CarouselItem {
  div{
    &:first-child{
      @include screen_laptop_medium(){
        justify-content: space-around; 
      }
      @include screen_tablet(){
        justify-content: space-evenly; 
      }
    }
  }

  

  .Food_content_item{
    flex: 0 0 auto;
    width: 60%;

    @include screen_mobile(){
      width: 100%;
    }
    .swiper_wrapper{
      .swiper-slide-custom{
        @include screen_tablet(){
          min-width: 200px;
        }

      }

    }


    .food_style_wrapper{

      .item-wrapper{
        &:first-child{
          display: flex;
          position: relative;
          justify-content: center;
          top: 0;
          z-index: 2;
          // border: 1px solid red;
          .food_image{
            width: 190px;
            height: 190px;

            @include screen_mobile(){
              width: 140px;
              height: 140px;
            }
          }

        }
        &:last-child{
          display: flex;
          position: relative;
          justify-content: center;
          bottom: 120px;
          left: 0;
          z-index: 1;
          width: 180px;
          height: 290px;
          background-color: rgb(242, 242, 242);
          margin: 0 10px;
          padding: 5px;
          border-radius: 97px;
          box-shadow: 0 0 10px rgba(8, 8, 8, 0.2);


          @include screen_mobile(){
            bottom: 80px;
            left: 2px;
            width: 130px;
            height: 220px;
          }
          .food_style_title{
            position: relative;
            text-align: center;
            align-content: flex-end;
            margin: 10px 15px 0;

              .food_name {
                font-size: 18px;
                text-transform: capitalize;
                font-weight: 800;

                @include screen_mobile(){
                  padding: 0 5px;
                  font-size: 14px;
                }
              }
              .food_detail {
                font-size: 12px;

                @include screen_mobile(){
                  
                  font-size: 9px;
                }
              }
              
              .food_price{
                @include screen_mobile(){
                  
                  font-size: 12px;
                }
              }


            .item-button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              background-color: $color-black;
              border-radius: 50%;
              z-index: 9;
              cursor: pointer;
              span {
                color: $color-white;
              }
              .icon {
                display: flex;
              }
            }
            
          }
        }
      }
    }
  }
  .Food_content{
    @include screen_mobile(){
      display: none !important;
    }
    &_title{
      display: block;
      line-height: 1.1;
      font-weight: 800;
      width: 100%;

      @include screen_laptop(){
        font-size: 38px;
      }

      @include screen_tablet(){
        font-size: 28px;
      }

      @include screen_tablet_small(){
        font-size: 26px;
      }
    }

    &_detail{
      display: block;
      width: 100%;
      @include screen_laptop(){
        font-size: 18px;
      }

      @include screen_tablet(){
        font-size: 14px;
      }

      @include screen_tablet_small(){
        font-size: 13px;
      }
    }
  }
  @include screen_mobile() {

  }

}
