@use '../../scss/' as *;
.Restaurant{
    position: relative;
    @include screen_laptop(){
        padding: 50px;
    }
    @include screen_mobile(){
        padding: 0 20px;
    }
    .Restaurant_food{
        @include screen_laptop(){
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
        }
        .food_container{
            padding: 20px;
            background-color: rgba(255, 255, 255, .8);
            border-radius: 18px;
        }
        @include screen_mobile(){
            padding: 50px 0;



        }
        .foodItem_img{
            @include screen_laptop(){
                width: 250px;
                height: 250px;
            }
            @include screen_mobile(){
                text-align: right;
            }
        }

        .foodItem_title{
            @include screen_laptop(){
                display: flex;
                justify-content: space-between;
                font-size: 25px;
            }
            @include screen_mobile(){
                display: flex;
                justify-content: space-between;
                font-size: 25px;
            }

            &_icon{
                @include screen_mobile(){
                    span{
                        margin-right: 10px;

                    }
                }
            }
        }
    }
    .restaurant{
        @include screen_laptop(){
            margin-bottom: 50px;

            div{
                &:first-child{
                    width: 250px;
                    height: 250px;
                    width: 50% !important;
                    text-align: center;
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
                &:last-child{
                    align-content: center;
                    text-align: start;
                    width: 50% !important;

                }
            }
        }
        @include screen_mobile(){
            background-color: $bg-color-white;
            padding: 20px 0;
            margin-bottom: 50px;
            border-radius: 18px;
        }
    }
    .Restaurant_owner{
        @include screen_laptop(){
            span{
                margin-left: 20px;
            }
        }
        @include screen_mobile(){
            padding: 0 0 100px;

        }

        .food_wrapper{
            div{
                position: relative;
                @include screen_laptop(){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .foodItem_img{
    
                    @include screen_laptop(){
                        width: 250px;
                        height: 250px;
                    }
    
                    @include screen_mobile(){
                        position: relative;
                    }
    
                    .foodItem_img_add{
                        @include screen_laptop(){
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 28px;
                            height: 28px;
                        }
                        @include screen_mobile(){
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 28px;
                            height: 28px;
                        }
                    }
    
                }
            }
        }
    }
}