@use '../../scss/' as *;
.Restaurant{
    position: relative;
    padding: 20px 50px;

    @include screen_mobile(){
        padding: 0 20px;
    }
    .Restaurant_food{
        @include screen_tablet(){
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: calc($height_popup - 20px);
        }
        @include screen_laptop(){
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: calc($height_popup - 20px);
        }
        .food_container{
            position: relative;
            background-color: rgba(255, 255, 255, .8);
            border-radius: 18px;
            @include screen_tablet(){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 50px;

            }
            @include screen_laptop(){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 50px;
            }

            @include screen_mobile(){
                padding: 20px 30px;

            }
            .text-label{
                text-transform: capitalize;
                font-size: 16px;
                color: $color-black;
                font-weight: 500;
                opacity: .7;
                @include screen_laptop(){
                    font-size: 18px;
                }
            }

            .btnFood{
                position: absolute;
                bottom: 4%;
                right: 8%;

            
                @include screen_mobile(){

                }
            }

        }
        @include screen_mobile(){
            // padding: 50px 0;
        }
        .foodItem_img{
            @include screen_tablet(){
                display: flex;
                width: 550px;
                height: 550px;
            }
            @include screen_laptop(){
                display: flex;
                width: 550px;
                height: 550px;
            }
            @include screen_mobile(){
                text-align: right;
            }
        }

        .foodItem_title{
            font-size: 35px;
            display: flex;
            justify-content: space-between;


            &_icon{
                @include screen_mobile(){
                    span{
                        margin-right: 10px;

                    }
                }
            }
        }
    }
    .restaurant{
        @include screen_laptop(){
            margin-bottom: 50px;

            div{
                &:first-child{
                    width: 250px;
                    height: 250px;
                    width: 50% !important;
                    text-align: center;
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
                &:last-child{
                    align-content: center;
                    text-align: start;
                    width: 50% !important;

                }
            }
        }
        @include screen_mobile(){
            background-color: $bg-color-white;
            padding: 20px 0;
            margin-bottom: 50px;
            border-radius: 18px;
        }
    }
    .Restaurant_owner{
        @include screen_laptop(){
            span{
                margin-left: 20px;
            }
        }
        @include screen_mobile(){
            padding: 0 0 100px;

        }

        .food_wrapper{
            div{
                position: relative;
                @include screen_laptop(){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .foodItem_img{
                    @include screen_tablet(){
                        width: 250px;
                        height: 250px;
                    }
                    @include screen_laptop(){
                        width: 250px;
                        height: 250px;
                    }
    
                    @include screen_mobile(){
                        position: relative;
                    }
    
                    .foodItem_img_add{
                        @include screen_laptop(){
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 28px;
                            height: 28px;
                        }
                        @include screen_mobile(){
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 28px;
                            height: 28px;
                        }
                    }
    
                }
            }
        }
    }
}