@use '../../scss/' as *;
.Restaurant{
    position: relative;
    @include screen_mobile(){
        padding: 0 20px;
    }
    .Restaurant_food{
        @include screen_mobile(){
            padding: 50px 0;
        }
        .foodItem_img{
            @include screen_mobile(){
                text-align: right;
            }
        }

        .foodItem_title{
            @include screen_mobile(){
                display: flex;
                justify-content: space-between;
                font-size: 25px;
            }

            &_icon{
                @include screen_mobile(){
                    span{
                        margin-right: 10px;

                    }
                }
            }
        }
    }
    .restaurant{
        @include screen_mobile(){
            background-color: $bg-color-white;
            padding: 20px 0;
            margin-bottom: 50px;
            border-radius: 18px;
        }
    }
    .Restaurant_owner{

        @include screen_mobile(){
            padding: 0 0 100px;

        }

        .food_wrapper{
            .foodItem_img{

                @include screen_mobile(){
                    position: relative;
                }

                .foodItem_img_add{
                    @include screen_mobile(){
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 28px;
                        height: 28px;
                    }
                }

            }
        }
    }
}