@use "../../scss/" as *;

.BlockFood{
  @include screen_mobile(){
    width: 370px;
  }
  .foodrating_style_wrapper {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 14px;

    @include screen_tablet(){
      // padding: 50px 7%;
      
    }


    .item-wrapper {
      @include screen_tablet(){
        // &.col-4{
        //   flex: 0 0 auto !important;
        //   width: 42% !important;
        // }
      }
      &.hightlight{
        flex: 0 0 auto;
        &:first-child{
          @include screen_laptop(){
            width: 57%;
          }
          @include screen_tablet(){
            width: 57%;
          }
        }
        &:last-child{
          // @include screen_laptop_large(){
          //   width: 40% !important; 
          // }
          @include screen_laptop(){
            width: 38%;
          }
          @include screen_tablet(){
            width: 38%;
          }
        }

        .food_style_title {
          .food_name {
            display: block;
            width: 100%;
            font-size: 36px;
            text-transform: capitalize;
            font-weight: 800;
            line-height: 1.1;
            @include screen_laptop(){
              font-size: 74px;
            }
            @include screen_laptop_medium(){
              font-size: 54px;
            }
            @include screen_tablet(){
              width: 100%;
              font-size: 44px;
            }

            @include screen_tablet_small(){
              width: 100%;
              font-size: 34px;
            }
          }
          .food_detail {
            display: block;
            width: 78%;
            margin-top: 20px;
            font-size: 12px;
            color: $color-white-blur;
            font-weight: 800;
            @include screen_laptop(){
              font-size: 20px;
            }
            @include screen_tablet(){
              width: 100%;
              font-size: 15px;
            }
          }
        }

        .item-button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
          background-color: $color-black;
          width: 180px;
          padding: 5px 10px;
          border-radius: 18px 18px 0 18px;
          
          cursor: pointer;
          span {
            color: $color-white;
            font-size: 18px;
            @include screen_laptop(){
            }
          }
          .icon {
            display: flex;
            margin-left: 20px;
            rotate: 180deg;
          }
        }

        .food_image{
          img{

            @include screen_laptop(){
              width: 95%;
              height: 95%;
            }

            // @include screen_laptop_large(){
            //   width: 85%;
            //   height: 85%;
            // }
            @include screen_mobile(){
              
            }
          }
        }
      }

      &:not(.hightlight){
        &:first-child{
          @include screen_laptop(){
            width: 40%;
          }
          @include screen_tablet(){
            width: 40%;
          }
          @include screen_tablet_small(){
            width: 50%;
          }
        }
        &:last-child{
          // @include screen_laptop_large(){
          //   width: 40% !important; 
          // }
          @include screen_laptop(){
            width: 55%;
          }
          @include screen_tablet(){
            width: 55%;
          }
        }

        .food_image{
          img{

            @include screen_laptop(){
              // width: 350px;
              // height: 350px;
            }
            @include screen_mobile(){
              
            }
          }
        }
        .food_style_title {

          .food_name {
            display: block;
            width: 90%;
            text-transform: capitalize;
            font-weight: 800;
            line-height: 1.1;
            
            // @include screen_tablet(){
            //   width: 90%;
            //   font-size: 18px;
            // }
            @include screen_laptop(){
              font-size: 38px;
            }
            @include screen_laptop_medium(){
              font-size: 34px;
            }
            @include screen_tablet(){
              width: 100%;
              font-size: 30px;
            }

            @include screen_tablet_small(){
              width: 100%;
              font-size: 24px;
            }
          }
          .food_detail {
            display: block;
            width: 78%;
            margin-top: 30px;
            font-size: 15px;
            color: $color-black;
            opacity: .7;
            font-weight: bold;
            @include screen_tablet_small(){
              width: 100%;
              font-size: 12px;
            }
          }

        }
      }


      .food_image {

        img {
        }
      }
    }



  }

    
}