@use '../../scss/' as *;

.Order{

    .Order_container{
        &:not(:first-child){
            margin-top: 5px;
        }
    
        background-color: $bg-color-white;
        @include screen_laptop(){
            padding: 20px 50px 50px;
        }
        @include screen_tablet(){
            padding: 20px 50px 50px;
        }
        @include screen_mobile(){
            padding: 0 20px;
    
    
        }
        .Order_cart{
            margin-bottom: 20px;
            .cart_wrapper_item{
                background-color: $bg-color-item;
                padding: 20px 10px;
                border-radius: 14px;
                @include screen_laptop(){
                    margin-top: 20px;
                }
                @include screen_tablet(){
                    margin-top: 20px;
                }
                @include screen_mobile(){
                    margin-top: 20px;
                }
                .cart_item_img{
                    @include screen_laptop(){
                        @include width(10%);
                    }
                    @include screen_tablet(){
                        @include width(15%);
                    }

                    @include screen_mobile(){
                        @include width(25%);
                        display: flex;
                        
                    }
                }
    
    
            }
        }
    
        .cart_item_text{
            @include screen_laptop(){
                font-size: 18px;
            }
            @include screen_tablet(){
                font-size: 16px;

            }
            @include screen_mobile(){
                font-size: 14px;
            }
        }
    
        .cart_item_quantity{

        }
    
    }

}