@use '../../scss/' as *;

.Order{
    margin-bottom: 140px;
    .Order_container{
        &:not(:first-child){
            margin-top: 5px;
        }
    
        background-color: $bg-color-white;
        @include screen_laptop(){
            padding: 0px 50px 50px;
        }
        @include screen_mobile(){
            padding: 0 20px;
    
    
        }
        .Order_cart{
            margin-bottom: 20px;
            .cart_wrapper_item{
                @include screen_laptop(){
                    margin: 20px 0;
                }

                @include screen_mobile(){
                    margin: 20px 0;
                }
                .cart_item_img{
                    @include screen_laptop(){
                        @include width(6%);
                    }
                    @include screen_mobile(){
                        @include width(20%);
                    }
                }
    
    
            }
        }
    
        .cart_item_text{
            @include screen_laptop(){
                font-size: 14px;
            }
            @include screen_mobile(){
                font-size: 14px;
            }
        }
    
        .cart_item_quantity{
            min-width: 60px;
            background-color: $bg-color-white;
            border-radius: 18px;
        }
    
    }

}