$width-medium: 640px;
$width-large: 1024px;
$width-small: 634px;

$margin-10: 10px;

$text-white: white;
$text-black: black;

$color-white: white;
$color-black: black;
$color-white-blur: rgb(183, 183, 183);


$bg-color-item: rgb(255, 255, 255);
$bg-color-white: rgb(241, 241, 241);


$height_popup: 140px; 

